.backdrop {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	background-color: white;
	width: max-content;
	min-width: 40%;
	height: max-content;
	padding: 50px 30px;
	box-shadow: 0 4px 12px rgb(109, 109, 109);
}

.title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 60%;
	margin: 0 auto;
	gap: 20px;
}

.inputGroup {
	display: flex;
	align-items: flex-end;
	gap: 12px;
	margin-top: 16px;
}

.inputBlock {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.label {
	font-size: 16px;
}

.input {
	border: 1px solid gray;
	padding: 8px;
}

.arrow {
	padding-bottom: 8px;
	opacity: 0.6;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
}

.btn {
	border: 1px solid gray;
	padding: 10px 15px;
}

.btn:hover {
	background-color: gray;
	color: white;
}

.error {
	color: red;
}

.segments {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
