.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	font-size: 32px;
	font-weight: bold;
}

.input {
	border: 1px solid gray;
	max-width: max-content;
	padding: 15px;
	border-radius: 8px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px;
}

@media (max-width: 1440px) {
	.cards {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (max-width: 1024px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 540px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
