.wrapper {
	display: flex;
	flex-direction: column;
}

.segment {
	padding: 3px 5px;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	max-width: max-content;
}

.input {
	max-width: 12ch;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.btn {
	border: 1px solid gray;
	padding: 2px 5px;
}
